.manage-home-form {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.manage-home-info {
  display: flex;
  flex-direction: column;
}

.manage-home-amenities {
  display: flex;
  flex-direction: column;
}
